.cta-section {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--tercery-white-color);
  overflow: hidden;
  border-top: 1px solid var(--sixth-grey-color);
}

@media (min-width: 768px) {
  .cta-section {
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    border-bottom: 1px solid var(--sixth-grey-color);
  }
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.cta-content {
  padding: 40px 24px;
}

@media (min-width: 1200px) {
  .cta-content {
    max-width: 576px; /* 600 - 24*/
    width: 100%;
  }

  .order-1.cta-content {
    margin-left: auto;
  }

  .order-2.cta-content {
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .cta-content {
    order: 1;
  }
  .cta-image {
    order: 2;
  }
}

.cta-text {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px) {
  .cta-text {
    text-align: left;
  }
}

.cta-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--fourth-grey-color);
}

@media (min-width: 768px) {
  .cta-title {
    font-size: 2.5rem;
  }
}

.cta-description {
  display: none;
  color: var(--primary-grey-color);
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .cta-description {
    display: block;
  }
}

.cta-button-wrapper {
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .cta-button-wrapper {
    margin-top: 2rem;
  }
}

.cta-button {
  background-color: var(--logo-color);
  color: var(--primary-white-color);
  padding: 0.75rem 1.25rem;
  border-radius: 0.375rem;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid var(--logo-color);
  transition: background-color 0.3s;
}

.cta-button:hover {
  color: var(--logo-color);
  background-color: var(--primary-white-color);
}

.cta-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--primary-orange-color);
}

.cta-image {
  width: 100%;
  height: 14rem;
  object-fit: cover;
}

@media (min-width: 768px) {
  .cta-image {
    height: 100%;
    order: 2
  }
}
