.language-switcher {
    position: fixed;
    bottom: 0rem;
    right: 1rem;
    background-color: var(--fifth-grey-color);
    border: 1px solid hsl(0, 0%, 80%);
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    height: 40px; /* initial height */
    width: 70px; /* initial width */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .language-switcher.expanded {
    height: 80px;
    width: 70px;
    flex-direction: column;
  }
  
  .language-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px;
  }
  
  .language-option img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .language-option span {
    color: var(--primary-black-color);
  }