.hero-section-wrapper {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    overflow: hidden;
  }
  
  .hero-main-title,
  .hero-main-title-mobile {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 40px;
    color: var(--fourth-grey-color);
    text-align: center;
    margin: 0;
    padding: 0 20px;
    width: 90%;
    display: block;
  }
  .hero-main-title-mobile {
    display: none;
  }
  @media (max-width: 768px) {
    .hero-main-title {
      display: none;
    }
  
    .hero-main-title-mobile {
      display: block;
    }
  }
  
  .hero-main-title:hover,
  .hero-main-title-mobile:hover {
    color: var(--logo-color);
  }
  
  .hero-text-overlay {
    max-width: 400px;
    padding: 10px;
    z-index: 2;
    position: absolute;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
  }
  
  @media (max-width: 768px) {
    .hero-text-overlay {
      margin: 0;
      border-radius: 16px;
      max-width: calc(100% - 68px);
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.95); /* override for mobile readability */
      color: var(--primary-black-color);
    }
  }
  
  .hero-text-overlay.color-white {
    background-color: rgba(255, 255, 255, 0.85);
    color: var(--primary-black-color);
  }
  
  .hero-text-overlay.color-black {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--primary-white-color);
  }
  
  .position-top-left {
    top: 10%;
    left: 10%;
  }
  .position-top-center {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .position-top-right {
    top: 10%;
    right: 10%;
  }
  .position-center-left {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
  .position-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .position-center-right {
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
  }
  .position-bottom-left {
    bottom: 10%;
    left: 10%;
  }
  .position-bottom-center {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .position-bottom-right {
    bottom: 10%;
    right: 10%;
  }
  @media (max-width: 768px) {
    .hero-text-overlay.position-top-left,
    .hero-text-overlay.position-top-center,
    .hero-text-overlay.position-top-right {
      top: 10%;
      left: 50%;
      width: 90%;
      transform: translateX(-50%);
    }
  
    .hero-text-overlay.position-center-left,
    .hero-text-overlay.position-center-center,
    .hero-text-overlay.position-center-right {
      top: 50%;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -50%);
    }
  
    .hero-text-overlay.position-bottom-left,
    .hero-text-overlay.position-bottom-center,
    .hero-text-overlay.position-bottom-right {
      bottom: 10%;
      left: 50%;
      width: 90%;
      transform: translateX(-50%);
    }
  }
  
  .hero-read-more-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 2px solid;
    font-size: 16px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  @media (max-width: 768px) {
    .hero-read-more-btn {
      display: inline-block;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  
  .hero-read-more-btn:hover {
    cursor: pointer;
  }
  
  .hero-read-more-btn.color-white {
    color: var(--primary-black-color);
    border-color: var(--primary-black-color);
  }
  .hero-read-more-btn.color-white:hover {
    color: var(--primary-white-color);
    border-color: var(--primary-black-color);
    background-color: var(--primary-black-color);
  }
  
  .hero-read-more-btn.color-black {
    color: var(--primary-white-color);
    border-color: var(--primary-white-color);
  }
  
  .hero-read-more-btn.color-black:hover {
    color: var(--primary-black-color);
    border-color: var(--primary-white-color);
    background-color: var(--primary-white-color);
  }
  
  .hero-text-p {
    font-size: 24px;
    margin: 10px;
    word-wrap: break-word;
    word-break: break-word;
  }
  
  .hero-mobile-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .hero-text-overlay-mobile {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
  }
  
  .hero-text-overlay-mobile.color-white {
    background-color: rgba(255, 255, 255, 0.95);
    color: var(--primary-black-color);
  }
  
  .hero-text-overlay-mobile.color-black {
    background-color: rgba(0, 0, 0, 0.85);
    color: var(--primary-white-color);
  }