
.footer {
    background-color: var(--primary-white-color);
    padding: 20px;
    border-top: 1px solid var(--sixth-grey-color);
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
  }
  
  .footer-left {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .footer-left-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-logo {
    margin-bottom: 0px;
  }
  
  .social-links {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .social-links-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  
  .social-icon {
    width: 48px;
    transition: transform 0.3s ease;
  }
  
  .social-icon:hover {
    transform: scale(1.1);
  }
  
  .footer-left-2 {
    text-align: left;
  }
  
  .footer-menu {
    display: flex;
    flex-direction: column;
  }
  
  .footer-link {
    color: var(--fourth-grey-color);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    padding: 5px;
  }
  
  .footer-link:hover {
    color: var(--logo-color);
  }
  
  .footer-submenu {
    display: flex;
    flex-direction: column;
  }
  
  .footer-map {
    margin-top: 20px;
    flex: 1;
    max-width: 400px;
    min-width: 300px;
    text-align: center;
  }
  
  .footer-map iframe {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    border: none;
  }
  
  .footer-address {
    color: var(--fourth-grey-color);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    padding: 5px;
  }
  
  .a-footer {
    text-decoration: none;
    color: var(--fourth-grey-color);
    font-size: 16px;
    transition: color 0.3s ease;
    padding: 5px;
  }
  
  .a-footer:hover {
    color: var(--logo-color);
    text-decoration: underline;
  }
  
  .a-info-legal {
    font-size: 12px;
  }

  .footer-partnership {
    text-align: center;
  }
  
  .partner-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .partner-logo {
    object-fit: contain;
    transition: transform 0.3s ease;
  }
  
  .partner-logo:hover {
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap: 0;
    }
  
    .footer-left {
      align-items: center;
      flex-direction: column;
      gap: 0px;
    }
  
    .social-links {
      justify-content: center;
    }
  
    .footer-left-2 {
      align-items: center;
      text-align: center;
    }
  
    .footer-menu {
      align-items: center;
    }
  
    .footer-map {
      max-width: 100%;
      margin-top: 20px;
    }
  }
  